<p fundoAmarelo>
  Texto que amarelou !!
</p>

<button fundoAmarelo>Botão que amarelou !</button>

<br>
<br>

<button fundoAmarelo type="button" class="btn btn-primary btn-lg">Large button</button>

<br>
<br>
<button fundoAmarelo type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>

<p highlightMouse>
  Texto com highlight quando passo o mouse.
</p>

<br>

<p [highlight]="'red'" [defaultColor]="'grey'">
  Texto com highlight com cores customizadas.
</p>

<h3>Diretiva Estrutura customizada - ngElse</h3>

<div *ngIf="mostrarCursos">
  Lista de cursos aqui.
</div>
<div *ngElse="mostrarCursos">
  Não existem cursos para serem listados.
</div>

<br>


<template [ngElse]="mostrarCursos">
  <div>
    Não existem cursos para serem listados.
  </div>
</template>